<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ .Title }} | {{ .Site.Title }}</title>
    <link rel="stylesheet" href="{{ "/css/style.css" | relURL }}" />
    <link rel="stylesheet" href="{{ "/css/fonts.css" | relURL }}" />
    {{ range .Site.Params.custom_css -}}
    <link rel="stylesheet" href="{{ . | absURL }}">
    {{- end }}
    {{ if .Site.Params.primary_color }}
    <style> :root { --primary-color: {{ .Site.Params.primary_color }}; } </style>
    {{ end }}
    {{ partial "head_custom.html" . }}
  </head>

  <body>
    {{ partial "header_custom.html" . }}
